* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;

}

.container {
    margin: auto;
    width: 87%;
   
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2CD3E1;
    height: 100px;
    /* position: fixed;
    top: 0; */
    width: 100%;
    left: 0;
    align-items: center;
}

.container a:hover{ /* tous liens lors du survol dans la balise nav */
    text-decoration: underline white;transition: 5;
}

.premier-ul ul{
    display: flex;
    gap: 30px;

}

.container ul li { 
    font-family: sans-serif;
    font-weight: 600;

}

.deuxieme-ul ul :nth-child(3) {
    border: 1px solid black;
    height: 36px;
    align-items: center;
    padding: 6px;
}


.container a {
    color: black;
    transition: .7s;
}

.deuxieme-ul ul{
    display: flex;
    gap: 30px;
    align-items: center;
   

}

.header .container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-top: 3px; 
    align-items: center;
    
}

.container img {
    width: 180px;
    height: 101px;
}

.container .jumbo-text{
    background: url("images/medecin_folder-removebg-preview.png")  right bottom no-repeat;
    background-size: 700px;
    /* padding-top: 300px;  */
    /* padding-left: 20px; */
    align-items: center;
    justify-content: space-between; 
}

.jumbo-text h1{
            padding-top: 150px;
            /* text-align: center; */
            padding-bottom: 20px;
            font-size: 50px;
            font-family:sans-serif ;
} 

.container .jumbo-text{
    
    justify-content: center;
    align-items: center;
    padding-bottom: 70px; 
}

.main .container{
    /* padding-bottom: 70px; */
}

.jumbo-text p {
    padding-bottom: 30px;
    /* padding-left: 96px; */
    display: flex;
    /* justify-content: center ; */
    font-family: sans-serif;
    font-size: large;
    line-height: 2rem;
    color: #6A6161;
    /* text-align: center; */
    width: 790px;
}

.button {
    text-align: center;
    padding: 16px;
    width: 150px;
    border: none;
    font-size: medium;
    background-color: #2CD3E1;
    color: rgb(0, 0, 0);
    border: none;
    padding: 16px ;
    border-radius: none;
    position: relative;
    overflow: hidden; 
    
}

.button:hover {
    background-color:#a6dee3;
    color: #020202;

}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgb(0, 0, 0);
  }

  
.section {
    background-color: #858585;
    padding-bottom: 50px;
}

.services {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.services h3{
    padding-top: 20px;
    align-items: center;
    font-family: sans-serif;
}

.container h2 {
    text-align: center;
    padding: 60px;
    font-size: 30px;
    font-family: sans-serif;
}

.mypropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    padding-bottom: 70px;
}

.propoimage {
    width: 100%;
    padding-top: 60px;
}

.propoimage img{
    width: 479px;
    height: 521px;
}

.propotext {
    padding-left: 200px;
    
}

.propotext p {
    line-height: 2rem;
    font-family: sans-serif;
    padding-bottom: 30px;
}
#parag{
    padding-top: 20px;
}

.propotext h2 {
    font-size: 30px;
    font-family: sans-serif;
}



.section4 {
    text-align: center;
    padding: 60px;
    background: url("./images/hero.png") fixed;

}

.section4 h2 {
    padding-top: 350px;
    color: #2CD3E1;
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: 700;
    font-family: sans-serif;
}

.section4 p{
    color: rgb(223, 216, 216);
    font-family: sans-serif;
    padding-bottom: 150px;

}



.section5 h2{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-family: sans-serif;

}

form {
    padding: 50px;
    width: 500px;
    height: 459px;
}



input, textarea {
    height: 50px;
    width: 400px;
    padding-left: 38px;
    
}

textarea {
    width: 400px;
    height: 150px;
    padding: 26px;


}
form #btn {
    width: 400px;
    font-weight: 600;
}

.one {
    padding-bottom: 30px;
}

.two{
    padding-bottom: 30px;
}

.tree{
    padding-bottom: 30px;
}

label{
    padding: 10px;
}

.section5 {
    /* padding-bottom: 200px; */
}
.footer{
    padding-top: 148px;
}

.footer img{
    width: 100%;
}

.jumbo-trait{
    background: linear-gradient(rgba(0, 0, 0, 0.808),rgba(33, 31, 31, 0.895)), url("./images/Aesthetic\ Nurse.jpeg") fixed  no-repeat center top;
    background-size: 1300px;
    height: 200px;
    /* width: 100%; */
}

.jumbo-trait h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: underline #2CD3E1;
    /* position: sticky; */
    color:#ffffff;
    padding: 100px;
}
